.about-line {
  position: relative;
  max-width: 557px;
  height: 50px;
  border-top: 1px solid #A2A2A2;
  transform: rotate(-180deg);
  &::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background: $main-color;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: -7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

}


.line-circle {
  height: 3px;
  border: 1px solid #A2A2A2;
  transform: rotate(-180deg);

}