._list-reset {
  text-decoration: none;
	transition: all .1s;
	color: #000;
	&:hover{
			font-weight: 700;
			border-bottom: 4px solid $main-color;
	}
	&:active{
			color: inherit;
	}
}

._flex {
  display: flex;
}

._hide {
	visibility: hidden;
}

._show {
	visibility: visible;
}