# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build
/dist
/dist.zip
*.zip

# env
.env
.env*.local

# uploads (keep directory)
/public/uploads/*
!/public/uploads/.gitkeep

# data overrides (optional local edits)
/data/site.json.bak

# misc
.DS_Store
*.pem
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*