
.contacts {

  &__wrapper {
    padding: 5.7rem 7.2rem 4.9rem;
    background: #FFFFFF;
    box-shadow: 2px 10px 30px 10px rgba(0, 0, 0, 0.15);
    border-radius: 95px;
  }

  &__inner-wrapper {
    display: flex;
    gap: 0 14rem;
  }

  &__left-side {
    min-width: 36rem;
  }

  &__title {
    font-weight: 700;
    font-size: 4.8rem;
  }

  &__par-bold {
  }

  &__par {
  }

  &__phone {
  }

  &__mail {
  }

  &__social {
  }

  &__right-side {
  }

  &__line {
  }

  &__map {
  }

  &__callback {
  }
}
.wrapper {
}
.header {

  &__contact {

    &_social {
    }
  }
}
