
.contacts {

  &__wrapper {
    padding: 5.7rem 7.2rem 4.9rem;
    background: #FFFFFF;
    box-shadow: 2px 10px 30px 10px rgba(0, 0, 0, 0.15);
    border-radius: 95px;
  }

  &__inner-wrapper {
  }

  &__left-side {
  }

  &__title {
  }

  &__par-bold {
  }

  &__par {
  }

  &__phone {
  }

  &__mail {
  }

  &__social {
  }

  &__right-side {
  }

  &__line {
  }

  &__map {
  }

  &__callback {
  }
}
.wrapper {
}
.header {

  &__contact {

    &_social {
    }
  }
}
.line {

  &__circle {
  }
}
. {

  &_callback {
  }

  &_paragr {
  }

  &_btn {
  }
}
._callback {

  &__title {
  }

  &__form {
  }

  &__phone {
  }

  &__btn {
  }
}
