.footer {
  width: 100%;
  &__wrapper{
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo {
    flex: 0 1 20rem;
    img{
      position: unset;
      width: 18rem;
      height: 13rem;
    }
  }
}

.copy {
  flex: 0 1 20rem;

}
.policy {
  flex: 0 1 40rem;

}
