html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  font-family: Circe400, sans-serif;
  font-size: 1.8rem;
}

.container {
  max-width: 1920px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
}

.wrapper {
  max-width: 1140px;
  min-height: 100%;
  overflow: hidden;
  padding: 0 15px;
  margin: 0 auto;
}

main.main {
  flex: 1 1 auto;
}

.pageup {
  width: 26px ;
  height: 26px;
  position: fixed;
  bottom: 100px;
  right: 5%;
  z-index: 30;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid white;
  transition: .9s all;
}

.pageup:hover{
  transform: scale(1.1);
  background-color: #d6cccb;
  border: 1px solid #d6cccb;
}

@import 'header';
@import 'services';
@import 'advantages';
@import 'about-link';
@import 'contacts';
@import 'malfunctions';
@import 'feedback';

@import 'footer';
