

html {
    font-size: 10px;
}


body{
    font-family: Circe400, sans-serif;
    font-size: 1.8rem;

}

.container{
    width: 1920px;
    margin: 0 auto;
    background-color: #fff;
}


.wrapper{
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;

}


@import "header";














