.services {
  margin-bottom: 7rem;
  &-nav {
    background-color: #EAEAEA;
    min-height: 6rem;
    &__list {
      font-size: 1.5rem;
      min-height: inherit;
      position: relative;
      @include flex-all-center-w;
      justify-content: space-between;
      padding: 0 .5rem;

    }
  
    &__item {
      position: relative;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      &_active {
        min-height: inherit;
        background-color: $main-color;
        padding: 0 1.5rem;
        a {
          display: inline-block;
          height: inherit;
          color: #fff;
        }

      }
      &:active{
        color: #fff;
      }
    }
  }

  &__sub-menu {
    position: absolute;
    left: 0;
    top: 3.7rem;
    background-color: $main-color;
    padding-top: 2.5rem;
    @include flex-column-start;
    & a:not(:last-child){
      margin-bottom: .5rem;
    }

  }

  &__aside {
    position: relative;
    padding: 11.6rem 5.1rem 0 6.3rem;
    max-width: 66.5rem;
  }

  &__top{
    max-width: 71rem;
  }

  &__title {
    max-width: 63rem;
    margin-bottom: 3.3rem;
  }

  &__about {
    max-width: 63rem;
    @include flex-all-sb;
    gap: 4rem;
    align-items: start;
    margin-bottom: 2rem;
  }

  &__about-info {
    max-width: 22rem;
  }

  &__main-img{
    position: absolute;
    top: 10rem;
    left: 62rem;
    & img{
      z-index: -3;
      width: 50rem;
    }
    &.tv__set{
      left: 63rem;
    }
    .tv__set{
      &_main-img{
        width: 46rem;
        height: 29rem;
        border-radius: 5%;
        margin-top: 4rem;
      }
    }
    .bake {
      width: 48rem;
      border-radius: 5%;
      height: 53rem;
    }
    .laptop{
      width: 48rem;
      border-radius: 5%;
      height: 43rem;
      margin-top: 4rem;
    }
  }
}


